*, html, body, .row {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 13px;
}

body {
    background-image: url('../images/bg_transparent.png');    
    background-size: cover;
    background-color: #fff;
    color: #111;
    overflow-y: scroll;
}

.bg-container {
    overflow: hidden;    
}

.bg-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;    
    opacity: 0.6;
    z-index: -1;    
}

.col-12 {
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 1%;
    padding-bottom: 1%; 
    color: #eee;   
}

.header {
    background-color: rgba(0, 0, 0,0.9);
    text-align: center;
    padding-top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.page-title {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1%;
    cursor: default;
    border-bottom: 1px dashed #fff;
}

.page-title a {
    display: none;
    font-size: 30px;
}

.nav-list {
    padding-top: 1.5%;
    padding-left: 0;
}

.nav-item {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 1.5rem;
}

.nav-item a:hover {
    text-decoration: underline;
}

.page-active {
    font-weight: 900;
    color:rgb(255, 100, 100);
}

.carousel {
    width: clamp(300px, 50vw, 1000px);
    margin: 1% auto;
}

.carousel-item {
    background-color: rgba(0, 0, 0,0.15);
}

.carousel-item img {
    height: 45vh;
    width: auto;
    background-size: contain;
}

.carousel-caption  {
    cursor: pointer;
}

.col-sm-12 {
    border-radius: 5px;
    text-align: center;    
}

h2 {
    padding-left: 5%;
    letter-spacing: 2px;
}

h4 {
    display: inline;
}

.badge {    
    font-size: 1.2rem;
}

.btn-container {
    text-align: center;
    margin-bottom: 2%;
}

.img-container {
    border: 5px solid  rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    overflow: hidden;
    width: 200px;
    margin: 2% auto;    
}

img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.active-test-class {
    background-color: rgba(0, 0, 0, 0.3);    
}

ul {
    list-style-type: none;
}

.modal-form .btn-container-end {
    padding-right: 2%;
    text-align: end;    
}

.invalid-form-input {
    border-color: #f00;
}

.text-muted {
    display: none;
}

.footer {
    display: flex;
    flex-flow: column;
    padding: 30px 30px 20px 30px;
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.5);    
    border-top: 5px solid rgba(0, 0, 0, 0.75);
}  

.footer__addr {
    margin-bottom: 1em;
}

.footer__dev {
    background-color: rgba(0, 0, 0, 0.0);
    text-align: center;
    font-size: 1.2rem;
}

.footer__dev a {
    color: #ddd;
    vertical-align: middle;
}
  
.footer__logo {
    font-weight: 400;
    font-size: 2rem;
}
  
.footer a {
    text-decoration: none;
}

.legal {    
    color: #aaa;
    text-align: center;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 25vh;
    }
    .nav-list a {
        font-size: 1.3rem;
    }
}

@media (max-width: 425px) {
    .top-nav {
        display: none;
    }
    .page-title {
        text-align: left;
        display: flex;
        border-bottom: none;
    }
    .page-title h1 {
        padding-left: 5%;
        padding-top: 1%;
    }
    .page-title a {
        display: flex;
        position: absolute;
        right: 5%;
        top: 20%;
    }
}